################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Admin/.vs/Admin
/Admin/bin
/Admin/obj
/BAL/bin
/BAL/obj
/Common/bin
/Common/obj
/DAL/bin
/DAL/obj
/DB
/Admin/Photo
/Admin/wwwroot/Photos/StudentImages
/Admin/wwwroot/Photos
/PrintApp/bin/Debug/net8.0-windows/runtimes/win/lib/net8.0
/PrintApp/obj
/PrintApp/bin/Debug/net8.0-windows/ClosedXML.dll
/PrintApp/bin/Debug/net8.0-windows/ClosedXML.Parser.dll
/PrintApp/bin/Debug/net8.0-windows/Common.dll
/PrintApp/bin/Debug/net8.0-windows/Common.pdb
/PrintApp/bin/Debug/net8.0-windows/DocumentFormat.OpenXml.dll
/PrintApp/bin/Debug/net8.0-windows/DocumentFormat.OpenXml.Framework.dll
/PrintApp/bin/Debug/net8.0-windows/ExcelNumberFormat.dll
/PrintApp/bin/Debug/net8.0-windows/Microsoft.AspNetCore.Http.Features.dll
/PrintApp/bin/Debug/net8.0-windows/Microsoft.Extensions.Primitives.dll
/PrintApp/bin/Debug/net8.0-windows/PrintApp.deps.json
/PrintApp/bin/Debug/net8.0-windows/PrintApp.dll
/PrintApp/bin/Debug/net8.0-windows/PrintApp.dll.config
/PrintApp/bin/Debug/net8.0-windows/PrintApp.exe
/PrintApp/bin/Debug/net8.0-windows/PrintApp.pdb
/PrintApp/bin/Debug/net8.0-windows/PrintApp.runtimeconfig.json
/PrintApp/bin/Debug/net8.0-windows/RBush.dll
/PrintApp/bin/Debug/net8.0-windows/SixLabors.Fonts.dll
/PrintApp/bin/Debug/net8.0-windows/System.Configuration.ConfigurationManager.dll
/PrintApp/bin/Debug/net8.0-windows/System.Diagnostics.EventLog.dll
/PrintApp/bin/Debug/net8.0-windows/System.IO.Packaging.dll
/PrintApp/bin/Debug/net8.0-windows/System.IO.Pipelines.dll
/PrintApp/bin/Debug/net8.0-windows/System.Security.Cryptography.ProtectedData.dll
/PrintApp/bin/Release/net8.0-windows
